<!DOCTYPE html>
<html>

<head>
	<title>All Students</title>
</head>

<body>
	<h1>ALLL THE STUDENTS</h1>
	<p>
	<% students.forEach(function(student){ %>
		<%= student.name %>
	<% }) %>
	</p>
	<br>
</body>

</html>
